body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}
h1{
    color:rgb(184, 23, 12);
}
form{
    background-color:rgb(179, 179, 179);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black ;
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:rgb(221, 35, 35);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}